
<form action = '/createUser' method = 'post'>
    <li>
        Name:
        <br>
        <input type = 'text' name = 'username'/>
    </li>
    <li>
        Password:
        <br>
        <input type = 'text' name = 'password' />
    </li>
    <button class = 'btn btn-primary' type = 'submit'>SUBMIT</button>
</form>



<h3>
    <a href = '/'>Go to Home</a>
</h3>