
<h2>
    Create Keys
</h2>

<form action = "/createKey" method = 'POST'>
    <ul>
        <li>
            Key:<br>
            <input type = 'text' name = 'key'/>
        </li>
        <li>
            Value:<br>
            <input type = 'text' name = 'value'/>
        </li>
    </ul>
    <button class = 'btn btn-primary' type = 'submit' >SUBMIT</button>
</form>


<h3>
    <a href = '/readKey'>Read Keys</a>
</h3>
