

<h4>
    This is the home page.
</h4>


<form action = "/" method = 'POST'>
    <ul>
        <li>
            Key:<br>
            <input type = 'text' name = 'key'/>
        </li>
        <li>
            Value:<br>
            <input type = 'text' name = 'value'/>
        </li>
    </ul>
    <button class = 'btn btn-primary' type = 'submit' >SUBMIT</button>
</form>