
<h3>
    <a href = '/'>Go Home</a>
</h3>


<form action = 'logout' method = 'post'>
    <button class = 'btn btn-primary' type = 'submit'>LOGOUT!!</button>
</form>


<h3>
    <a href = '/'>Go Home</a>
</h3>